<nav class="bottom-nav">
    <div class="container">
        <div class="nav-items">
            <a href="" class="nav-link">
                <i class="ri-home-6-line link-icon"></i>
            </a>
        </div>
        <div class="nav-items">
            <a href="" class="nav-link">
                <i class="ri-line-chart-line link-icon"></i>
            </a>
        </div>
        <div class="nav-items">
            <a href="" class="nav-link is-pill">
                <i class="ri-add-line link-icon"></i>
            </a>
        </div>
        <div class="nav-items">
            <a href="" class="nav-link">
                <i class="ri-p2p-line link-icon"></i>
            </a>
        </div>
        <div class="nav-items">
            <a href="" class="nav-link">
                <i class="ri-settings-line link-icon"></i>
            </a>
        </div>
    </div>
</nav>